<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="MetadataExchangeTcpBinding_ICalculatorService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CalculatorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="CalculatorService.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
            <endpoint address="net.tcp://localhost:49617/CalculatorServiceMex"
                binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_ICalculatorService"
                contract="CalculatorService.ICalculatorService" name="MetadataExchangeTcpBinding_ICalculatorService" />
        </client>
    </system.serviceModel>
</configuration>